export(map.options)
export(map.plot)
export(multiple)
export(multiple.comma)
export(multiple.dollar)
export(multiple.identity)
export(multiple_format)
export(prepare.shape)
import(ggplot2)
import(maptools)
import(plyr)
import(rgdal)
import(rgeos)
import(scales)
import(stringr)
