export(dist.multiplier)
export(map.options)
export(map.plot)
export(multiple)
export(multiple.comma)
export(multiple.dollar)
export(multiple.identity)
export(multiple_format)
export(none)
export(prepare.shape)
export(prepare.shape.fortify)
export(unit.multiplier)
import(ggplot2)
import(maptools)
import(plyr)
import(scales)
import(useful)
